h1 {
    text-align: center;
}

#data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 3px solid black;
    margin: 0;
}

#bar-chart {
    margin-right: 120px;
    width: 800px !important;
    height: 500px !important;
}

#donut-chart {
    margin-left: 10px;
    width: 450px !important;
    height: 450px !important;
}